.user-content {
  display: flex;
  align-items: center;
}

.user__left-content {
  display: flex;
  align-items: center;
}

.photo {
  width: 3rem;
  height: 3rem;
  border-radius: 4rem;
  padding: 0.3rem;
  border: 0.15rem solid #44bd32;
}

.user__right-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user__right-content p {
  margin: 0;
}

.user__right-content {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

.name {
  text-transform: capitalize;
  font-size: 1.1em;
}

.email {
  font-size: 0.8em;
  color: #666;
}
