:root {
  --primary: #44bd32;
  --primary-light: #68ce59;
  --primary-dark: #309620;
  --danger: rgb(233, 51, 51);
}

body {
  margin: 0;
  font-family: 'Noto Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2f3640;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  background: white;
  padding: 0.7rem 1.7rem;
  margin: 0.4rem;
  border-radius: 0.5rem;
  font-size: 1.2em;
  cursor: pointer;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.form-container {
  width: 30%;
  margin: 5rem auto auto;
}

.container-width {
  width: 60%;
  margin: 0 auto;
}